/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--background-color);
  position: relative;
}

/* Стили для бургер-меню */
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 20;
}

.burger-line {
  height: 5px;
  width: 100%;
  background-color: var(--color-main);
  border-radius: 5px;
  transition: transform 0.3s, opacity 0.3s;
  background-color: black;
}

/* Стили для бокового меню */
.side-nav {
  position: fixed;
  top: 0;
  left: -250px;  /* Скрыто слева */
  width: 250px;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  transition: left 0.3s ease; /* Плавное открытие */
  z-index: 10;
}

.side-nav.active {
  left: 0;  /* Меню выезжает */
}

.text-bar {
  font-size: 20px;
  padding: 20px;
  color: var(--color-main);
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s;
}

.text-bar:hover {
  background-color: var(--accent-color-main);
  color: var(--color-extra);
}

/* Анимация бургера при открытии */
.burger-menu.open .burger-line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .burger-line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Мобильный вид */
@media (max-width: 768px) {
  .logo-name {
    font-size: 24px;
    text-align: center;
  }
}

/* Анимация бургера при открытии */
.burger-menu.open .burger-line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.open .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .burger-line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
