*{
  margin: 0;
  padding: 0;
  color: var(--color-main);
}

.header-small-device{
  display: none;
}

.header-big-device{
  display: block;
}

@font-face {
  font-family: "InclusiveSans";
  src:
    url("/fonts/InclusiveSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

:root {
  --background-color: #C1CACA;
  --color-main: black;
  --color-extra: white;
  --accent-color-main: #CD5B45; /* Ваш акцентный цвет для темной темы */
  --accent-color-extra:  #C5D0E6;
  --main-image: url("../photo/japan_light.png");
}

.dark-theme {
  --background-color: #0a0a0a;
  --color-main: white;
  --color-extra: black;
  --accent-color-main: #5DB2B7; /* Ваш акцентный цвет для темной темы */
  --accent-color-extra:  #8C4743;
  --main-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1e1e1e83 100%), url("../photo/japan_dark_5.png");
}

button{
  cursor: pointer;
}

svg, path{
  stroke: var(--color-main);
}

.logo circle {
  fill: none !important;
}

circle{
  fill: var(--accent-color-main) !important;
}

.main-container{
  /* width: 1440px;  */
  width: 100%;
  height: 4550px; 
  position: absolute; 
  background-color: var(--background-color);
}
.main-block{
  display: grid;
  grid-template-rows: 90px 1fr;
  width: 100%;
  height: 800px;
  background: var(--main-image);
  background-size: cover;
  background-blend-mode: multiply, normal;
  border-bottom: 1px solid var(--color-main);
}

.header{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo{
  width: 181px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-name{
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  cursor: pointer;
}
.center-bar {
  margin: 0;
  max-width: fit-content;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.center-bar > div {
  margin: 0 20px; /* Установите значение, которое вам нужно */
}
.text-bar{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 6px;
}

.details-text-wrapper{
  display: flex;
  flex-direction: row;
  position: relative;
}

#theme-bar, #about-us-bar{
  margin-right: 5px;
}

.triangle-bar{
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.details-text-wrapper:hover .triangle-bar{
  transform: rotate(60deg);
  transform-origin: center;
}

.dropdown-menu {
  display: none; 
  position: absolute; 
  left: -15px;
  top: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  border: solid 1px var(--color-main);
  z-index: 1; 
}

.details-text-wrapper:hover .dropdown-menu {
  display: block; /* Показываем меню */
}

.dropdown-menu div {
  padding: 10px;
  white-space: nowrap; /* Предотвращает перенос текста */
}

.dropdown-menu div:hover {
  background-color: var(--color-extra); /* Цвет при наведении на пункты меню */
}

.theme-wrapper{
  width: 181px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: wrap;
  height: 44px;
}
.circle{
  margin-right: 15px;
  border: 1.50px solid var(--color-main);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background: var(--accent-color-main);
}
.company-main-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 65px;
}
.company-main-description > p:nth-child(1),
.company-main-description > p:nth-child(2) {
  width: 554px;
  height: 60px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 48px;
}
.company-main-description > div > p:nth-child(1),
.company-main-description > div > p:nth-child(2),
.company-main-description > div > p:nth-child(3),
.company-main-description > div > p:nth-child(4),
.company-main-description > div > p:nth-child(5) {
  width: 580px;
  height: 30px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.company-main-description > button {
  margin-top: 40px;
  border: 1px solid var(--color-main);
  border-radius: 10px;
  width: 440px;
  height: 65px;
  background: var(--accent-color-main);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--color-extra);
}

.company-main-description > button:hover{
  background: var(--accent-color-extra);
  color: var(--color-main);
}


.courses-block{
  width: 100%;
  height: 700px;
  border-bottom: 1px solid var(--color-main);
}

.container-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
}

.circle-wrapper{
  margin-left: 50px;
  margin-right: 50px;
}

h2{
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

#prevBtn, #nextBtn{
  cursor: pointer;
}

.courses-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 1136px;
  margin: auto;
}

.cards-wrapper{
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 40px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px; 
  height: 470px; 
  background-color: var(--accent-color-extra);
  border-radius: 10px;
  border: 1px solid var(--color-main);
  margin-top: 25px;
}

.card-img{
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 334px;
  height: 180px;
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--color-main);;
}

.card-text-wrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
}

.card-name{
  width: 300px;
  font-size: 18pt;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}

.card-description{
  width: 300px;
  font-size: 14pt;
  font-family: sans-serif;
  font-weight: lighter;
  margin-left: 20px;
  margin-top: 30px;
}

.card-text-wrapper > button{
  margin-left: 20px;
  margin-top: 30px;
  border: 1px solid var(--color-main);
  border-radius: 10px;
  width: 130px;
  height: 40px;
  background: var(--accent-color-main);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--color-extra);
}

.card-text-wrapper > button:hover{
  background: var(--accent-color-extra);
  color: var(--color-main);
}

.about-us-block{
  width: 100%;
  height: 930px;
  border-bottom: 1px solid var(--color-main);
}

.foundation-wrapper{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.data-block-wrapper{
  width: 300px;
  text-align: center;
}

.data-wrapper{
  font-family: sans-serif;
  font-size: 36pt;
  font-weight: 100;
  text-decoration: underline;
}

.data-description-wrapper{
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
}

.teacher-block button {
  margin-top: 70px;
  border: 1px solid var(--color-main);
  border-radius: 10px;
  width: 440px;
  height: 65px;
  background: var(--accent-color-main);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--color-extra);
}

.teacher-block button:hover{
  background: var(--accent-color-extra);
  color: var(--color-main);
}

.teacher-block{
  margin-top: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.teacher-photo{
  width: 520px; 
  height: 520px; 
  border-radius: 50%; 
  border: 3px var(--color-main) solid;
}

.teacher-quote{
  width: 615px; 
  justify-content: center; 
  display: flex; 
  flex-direction: column; 
  color: var(--color-main); 
  font-size: 24px; 
  font-family: sans-serif; 
  font-weight: 400; 
  line-height: 30px; 
  word-wrap: break-word;
}

.teacher-quote div{
  display: flex;
  justify-content: end;
  margin-right: 60px;
  font-family: sans-serif; 
}

.prices-block{
  width: 100%;
  height: 770px;
  border-bottom: 1px solid var(--color-main);
}

.table-container {
  display: flex;
  justify-content: center;
  overflow: hidden; 
  font-family: sans-serif;
  font-size: 16pt;
  width: 100%;
  max-height: 500px;
}

.inner-scroll-container {
  overflow-y: auto; /* скроллим только тут */
  max-height: 500px;
}

table {
  width: 1230px; 
  border-collapse: collapse;
}

th{
  height: 60px !important;
  background-color: var(--accent-color-extra); 
  color: var(--color-main);
}

th, td {
  padding: 12px;
  height: 100px;
  text-align: left;
  border: 1px solid var(--color-main);
}

td {
  background-color: var(--color-extra);
}

.reviews-block{
  width: 100%;
  height: 580px;
  border-bottom: 1px solid var(--color-main);;
}

.reviews-wrapper{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-wrapper > div{
  font-family: sans-serif;
  font-size: 20pt;
  margin-bottom: 100px;
}

.reviews-wrapper > div > a{
  color: var(--accent-color-main);
}

.contacts-block{
  width: 100%;
  height: 760px;
}

.contacts-wrapper{
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.contacts-wrapper > div{
  padding-top: 50px;
}

.contact-info div:nth-child(2), 
.contact-info div:nth-child(3), .contact-info div:nth-child(4) {
  padding-top: 50px;
}

.contact-info {
  color: var(--color-main);
  font-size: 18pt;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}

.highlight {
  color:var(--accent-color-main);
  text-decoration: underline;
}

.contact-info > div > a{
  color: var(--accent-color-main);
}

@media (max-width: 1440px) {

  .header-small-device{
    display: block;
    position: relative;
  }

  .header-big-device{
    display: none;
  }

  iframe{
    display: none;
  }

  .main-container{
    height: 4920px; 
  }

  .company-main-description {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    padding-left: 0px;
  }

  .courses-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 748px;
    margin: auto;
  }
  
  .cards-wrapper{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .about-us-block{
    height: 1300px;
  }

  .teacher-block{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .teacher-block > div{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .teacher-photo{
    width: 520px; 
    height: 520px; 
    border-radius: 50%; 
    border: 3px var(--color-main) solid;
  }
  
  .teacher-quote{
    text-align: center;
  }

  table {
    width: 680px; 
    border-collapse: collapse;
  }

  .reviews-wrapper > div {
    width: 680px;
    text-align: center;
    font-size: 24px;
  }

  .contacts-wrapper{
    text-align: center;
    justify-content: center;
    align-items: start;
  }

  .contacts-wrapper > div{
    padding-top: 50px;
  }
  
  .header-burger{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
  }

  .logo-wrapper{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Стили для бургер-меню */
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 23px;
    padding-left: 25px;
    cursor: pointer;
    z-index: 20;
  }
  
  .burger-line {
    height: 3px;
    width: 100%;
    background-color: var(--color-main);
    border-radius: 3px;
    transition: transform 0.3s, opacity 0.3s;
    background-color: var(--color-main);
  }
  
  /* Стили для бокового меню */
  .side-nav {
    position: fixed;
    top: 0;
    left: -250px;  /* Скрыто слева */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    transition: left 0.3s ease; /* Плавное открытие */
    z-index: 10;
    height: 100vh;
  }
  
  .side-nav.active {
    padding-top: 70px;
    font-family: sans-serif;
    left: 0;  /* Меню выезжает */
    border-style: solid;
    border-color: var(--color-main);
    border-width: 0 1px 1px 0;
    background-color: var(--background-color);
  }
  
  .text-bar-burger {
    box-sizing: border-box; /* Включает padding и border в общую ширину и высоту */
    font-size: 20px;
    padding: 20px;
    padding-left: 25px !important; 
    padding-right: 70px !important; 
    color: var(--color-main);
    cursor: pointer;
    width: 100%; /* Устанавливаем ширину в 100% */
    text-align: left;
    transition: background-color 0.3s;
  }
  
  .text-bar-burger:hover {
    background-color: var(--accent-color-main);
  }
  
  .burger-menu.open{
    position: fixed;
  }
  /* Анимация бургера при открытии */
  .burger-menu.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .logo-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Анимация бургера при открытии */
  .burger-menu.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .theme-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: wrap;
    height: 90px;
    padding-right: 25px;
  }
}

@media (max-width: 911px){
  .courses-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 354px;
    margin: auto;
  }

}

@media (max-width: 431px) {
  .header-small-device{
    display: block;
    position: relative;
  }

  .header-big-device{
    display: none;
  }

  iframe{
    display: none;
  }

  .main-container{
    height: 4920px; 
  }

  .company-main-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    height: 500px;
    width: 100%;
    padding-left: 25px;
    padding-top: 30px !important;
  }

  .company-main-description > p:nth-child(1),
  .company-main-description > p:nth-child(2) {
    width: 100%;
    height: 40px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
  }
  .company-main-description > div > p:nth-child(1),
  .company-main-description > div > p:nth-child(2),
  .company-main-description > div > p:nth-child(3),
  .company-main-description > div > p:nth-child(4),
  .company-main-description > div > p:nth-child(5) {
    width: 100%;
    height: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
  .company-main-description > button {
    margin-top: 40px;
    border: 1px solid var(--color-main);
    border-radius: 10px;
    width: 300px;
    height: 50px;
    background: var(--accent-color-main);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-extra);
  }

  h2{
    font-size: 12pt;
    text-align: center;
  }

  .circle-wrapper{
    margin-left: 25px;
    margin-right: 25px;
  }

  .courses-wrapper{
    justify-content: center;
  }

  .card{
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .card-img{
    width: 284px;
  }
  
  .cards-wrapper{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 40px;
  }

  .about-us-block{
    height: 1300px;
  }

  .foundation-wrapper{
    padding-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data-block-wrapper{
    padding-top: 20px;
  }

  .data-wrapper{
    font-size: 30pt;
  }
  
  .data-description-wrapper{
    font-size: 12pt;
  }
  
  .teacher-block{
    margin-top: 150px;
  }

  .teacher-block > div{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .teacher-photo{
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    border: 3px var(--color-main) solid;
  }

  .teacher-block button {
    margin-top: 40px;
    border: 1px solid var(--color-main);
    border-radius: 10px;
    width: 300px;
    height: 50px;
    background: var(--accent-color-main);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-extra);
  }
  
  .teacher-quote{
    font-size: 14pt;
    text-align: center;
    width: 300px;
  }

  .teacher-quote > div{
    margin-right: 0px !important;
  }

  table {
    width: 300px; 
    border-collapse: collapse;
    overflow-x: auto;
  }

  .table-container{
    align-items: center;
    width: 300px;
    font-size: 12pt;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: none;
  }

  .table-wrapper{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .reviews-wrapper > div {
    width: 680px;
    text-align: center;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-info{
    font-size: 14pt;
  }
  
  .header-burger{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
  }

  .logo-wrapper{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Стили для бургер-меню */
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 23px;
    padding-left: 25px;
    cursor: pointer;
    z-index: 20;
  }
  
  .burger-line {
    height: 3px;
    width: 100%;
    background-color: var(--color-main);
    border-radius: 3px;
    transition: transform 0.3s, opacity 0.3s;
    background-color: var(--color-main);
  }
  
  /* Стили для бокового меню */
  .side-nav {
    position: fixed;
    top: 0;
    left: -250px;  /* Скрыто слева */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    transition: left 0.3s ease; /* Плавное открытие */
    z-index: 10;
  }
  
  .side-nav.active {
    padding-top: 70px;
    font-family: sans-serif;
    left: 0;  /* Меню выезжает */
    border-style: solid;
    border-color: var(--color-main);
    border-width: 0 1px 1px 0;
    background-color: var(--background-color);
  }
  
  .text-bar-burger {
    box-sizing: border-box; /* Включает padding и border в общую ширину и высоту */
    font-size: 16px;
    padding: 20px;
    padding-left: 25px !important; 
    padding-right: 70px !important; 
    color: var(--color-main);
    cursor: pointer;
    width: 100%; /* Устанавливаем ширину в 100% */
    text-align: left;
    transition: background-color 0.3s;
  }
  
  .text-bar-burger:hover {
    background-color: var(--accent-color-main);
  }
  
  .burger-menu.open{
    position: fixed;
  }
  /* Анимация бургера при открытии */
  .burger-menu.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .logo-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Анимация бургера при открытии */
  .burger-menu.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .theme-wrapper{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: wrap;
    height: 90px;
    padding-right: 0px !important;
  }

  .details-text-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-right: 25px;
  }

  .details-text-wrapper > #theme-bar, .triangle-bar{
    display: none;
  }

  .details-text-wrapper:hover .dropdown-menu {
    display: block; /* Показываем меню */
  }
}

@media (max-height: 431px) {
  .side-nav-wrapper {
    overflow-y: scroll; /* Вертикальный скролл */
    height: 100vh;
    margin-bottom: 70px;
  }
}