*{
  margin: 0;
  padding: 0;
  color: var(--color-main);
  -webkit-tap-highlight-color: transparent;
}

.header-small-device{
  display: none;
}

.header-big-device{
  display: block;
}

@font-face {
  font-family: "InclusiveSans";
  src:
    url("/fonts/InclusiveSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

:root {
  --background-color: #C1CACA;
  --color-main: black;
  --color-extra: white;
  --accent-color-main: #CD5B45; /* Ваш акцентный цвет для темной темы */
  --accent-color-extra:  #C5D0E6;
  --main-image: url("../photo/japan_light.png");
}

.dark-theme {
  --background-color: #0a0a0a;
  --color-main: white;
  --color-extra: black;
  --accent-color-main: #5DB2B7; /* Ваш акцентный цвет для темной темы */
  --accent-color-extra:  #8C4743;
  --main-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1e1e1e83 100%), url("../photo/japan_dark_5.png");
}

button{
  cursor: pointer;
}

svg, path{
  stroke: var(--color-main);
}

.logo circle {
  fill: none !important;
}

circle{
  fill: var(--accent-color-main) !important;
}

.main-container{
  width: 100%;
  position: absolute; 
  background-color: var(--background-color);
}

.main-block{
  display: grid;
  grid-template-rows: 90px 1fr;
  width: 100%;
  background-color: var(--background-color);
  background-size: cover;
  background-blend-mode: multiply, normal;
}

.contacts-href > a{
  text-decoration: none;
}

.header{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo{
  width: 181px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-name{
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  cursor: pointer;
}
.center-bar {
  margin: 0;
  max-width: fit-content;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.center-bar > div {
  margin: 0 20px; /* Установите значение, которое вам нужно */
}
.text-bar{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 6px;
}

.details-text-wrapper{
  display: flex;
  flex-direction: row;
  position: relative;
}

#theme-bar, #theme-bar-burger, #about-us-bar{
  margin-right: 5px;
}

.triangle-bar{
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.details-text-wrapper:hover .triangle-bar{
  transform: rotate(60deg);
  transform-origin: center;
}

.dropdown-menu {
  display: none; 
  position: absolute; 
  left: -15px;
  top: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  border: solid 1px var(--color-main);
  z-index: 1; 
}

.details-text-wrapper:hover .dropdown-menu {
  display: block; /* Показываем меню */
}

.dropdown-menu div {
  padding: 10px;
  white-space: nowrap; /* Предотвращает перенос текста */
}

.dropdown-menu div:hover {
  background-color: var(--color-extra); /* Цвет при наведении на пункты меню */
}

.theme-wrapper{
  width: 181px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: wrap;
  height: 44px;
}
.circle{
  margin-right: 15px;
  border: 1.50px solid var(--color-main);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background: var(--accent-color-main);
  z-index: 20;
}

.card-container {
  display: grid;
  padding-top: 80px;
  padding-bottom: 50px;
  justify-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(100px, 2);
  row-gap: 100px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px; 
  height: 470px; 
  background-color: var(--accent-color-extra);
  border-radius: 10px;
  border: 1px solid var(--color-main);
  margin-top: 25px;
}

.card-img{
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  width: 334px;
  height: 250px;
  border-radius: 10px 10px 0 0;
  border: 1px solid var(--color-main);
  object-fit: cover;
}

.card-text-wrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
}

.card-name{
  width: 300px;
  font-size: 18pt;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}

.card-description > h6{
  width: 300px;
  font-size: 14pt;
  font-family: sans-serif;
  font-weight: lighter;
  margin-left: 20px;
  margin-top: 30px;
}

.card-text-wrapper > button{
  margin-left: 20px;
  margin-top: 30px;
  border: 1px solid var(--color-main);
  border-radius: 10px;
  width: 130px;
  height: 40px;
  background: var(--accent-color-main);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--color-extra);
}

.card-text-wrapper > button:hover{
  background: var(--accent-color-extra);
  color: var(--color-main);
}

.circle-wrapper{
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 1440px) {

  .header-small-device{
    display: block;
    position: relative;
  }

  .header-big-device{
    display: none;
  }

  iframe{
    display: none;
  }

  .header-burger{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
  }

  .logo-wrapper{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Стили для бургер-меню */
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 23px;
    padding-left: 25px;
    cursor: pointer;
    z-index: 20;
  }
  
  .burger-line {
    height: 3px;
    width: 100%;
    background-color: var(--color-main);
    border-radius: 3px;
    transition: transform 0.3s, opacity 0.3s;
    background-color: var(--color-main);
  }
  
  /* Стили для бокового меню */
  .side-nav {
    position: fixed;
    top: 0;
    left: -250px;  /* Скрыто слева */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    transition: left 0.3s ease; /* Плавное открытие */
    z-index: 10;
    height: 100vh;
  }
  
  .side-nav.active {
    padding-top: 70px;
    font-family: sans-serif;
    left: 0;  /* Меню выезжает */
    border-style: solid;
    border-color: var(--color-main);
    border-width: 0 1px 1px 0;
    background-color: var(--background-color);
  }
  
  .text-bar-burger {
    box-sizing: border-box; /* Включает padding и border в общую ширину и высоту */
    font-size: 20px;
    padding: 20px;
    padding-left: 25px !important; 
    padding-right: 70px !important; 
    color: var(--color-main);
    cursor: pointer;
    width: 100%; /* Устанавливаем ширину в 100% */
    text-align: left;
    transition: background-color 0.3s;
  }
  
  .text-bar-burger:hover {
    background-color: var(--accent-color-main);
  }
  
  .burger-menu.open{
    position: fixed;
  }
  /* Анимация бургера при открытии */
  .burger-menu.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .logo-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Анимация бургера при открытии */
  .burger-menu.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .theme-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: wrap;
    height: 90px;
    padding-right: 25px;
  }

  .card-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 911px){
  .card-container{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 431px) {
  .header-small-device{
    display: block;
    position: relative;
  }

  .card{
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .card-img{
    width: 284px;
  }
  
  .card-container{
    padding-top: 25px;
    grid-template-columns: 1fr;
  }

  details:nth-child(1){
    padding-top: 50px;
  }

  .header-big-device{
    display: none;
  }
  
  .header-burger{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
  }

  .logo-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Стили для бургер-меню */
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 23px;
    padding-left: 25px;
    cursor: pointer;
    z-index: 20;
  }
  
  .burger-line {
    height: 3px;
    width: 100%;
    background-color: var(--color-main);
    border-radius: 3px;
    transition: transform 0.3s, opacity 0.3s;
    background-color: var(--color-main);
  }
  
  /* Стили для бокового меню */
  .side-nav {
    position: fixed;
    top: 0;
    left: -250px;  /* Скрыто слева */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    transition: left 0.3s ease; /* Плавное открытие */
    z-index: 10;
  }
  
  .side-nav.active {
    padding-top: 70px;
    font-family: sans-serif;
    left: 0;  /* Меню выезжает */
    border-style: solid;
    border-color: var(--color-main);
    border-width: 0 1px 1px 0;
    background-color: var(--background-color);
  }
  
  .text-bar-burger {
    box-sizing: border-box; /* Включает padding и border в общую ширину и высоту */
    font-size: 16px;
    padding: 20px;
    padding-left: 25px !important; 
    padding-right: 70px !important; 
    color: var(--color-main);
    cursor: pointer;
    width: 100%; /* Устанавливаем ширину в 100% */
    text-align: left;
    transition: background-color 0.3s;
  }
  
  .text-bar-burger:hover {
    background-color: var(--accent-color-main);
  }
  
  .burger-menu.open{
    position: fixed;
  }
  /* Анимация бургера при открытии */
  .burger-menu.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .logo-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Анимация бургера при открытии */
  .burger-menu.open .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .theme-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    width: wrap;
    height: 90px;
    padding-right: 0px !important;
  }

  .details-text-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-right: 25px;
  }

  .details-text-wrapper > #theme-bar-burger, .triangle-bar{
    display: none;
  }

  .details-text-wrapper:hover .dropdown-menu {
    display: block; /* Показываем меню */
  }
}

@media (max-height: 431px) {
  .side-nav-wrapper {
    overflow-y: scroll; /* Вертикальный скролл */
    height: 100vh;
    margin-bottom: 70px;
  }
}